* {
    margin: 0;
    padding: 0;
} /* to remove the top and left whitespace */
body {
    background-image: url("../img/crossword.png");
}

html,body {
    width: 100%;
    height: 100%;
} /* just to be sure these are full screen*/
canvas {
    display: block;
} /* To remove the scrollbars */
.fileDialogBar {
    display: none;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 5px;
    width: 100%;
    max-width: 480px;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-left-radius: 10px;
    background-color: #fff;
    border-color: #ddd;
}

.fileDialogBarButton {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity =   0);
}
.thumbnail  {
    max-width: 155px; 
}

.upload-drop {
    border-style: dashed;
    border-color: #ccc;
    overflow:auto;
    margin-bottom: 5px;
    width: 100%;
    height: 200px;
   /* height: 90%;
    max-height: 310px;*/
}

.upload-drop p {
    margin: 0 0 2px;
    padding-left: 10px;
}

.upload-dropH1 {
    text-align: center;
}

.progress{ 
    margin-right: 10px;
    margin-left: 10px;
}

#fileDownloadBtn, #fileUploadBtn, #fileDeleteBtn {
    display: none;
}

#fileUploadAbort {
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 5px;
    width: 100%;
    max-width: 480px;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-left-radius: 10px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    height: 310px;
    display: none;
}

#protocolNotsupported {
    display: none;
    z-index: 2000;
}

.spezInput  {
    z-index: 1000; position: absolute;
}

#filesAck {
    display: none;
}

#clipboardMain {
    position: fixed;
    bottom: 0px;
    padding: 3px;
    background-color: #c0c0c0;
    display: none;
}
#clipboardMain button{
    padding-left: 10px;
    padding-right: 5px;
}

#clipboard {
    display:none;
    padding-left: 33px;
}

.clipboardMainMax{
    width: 100%;
}

.clipboardMainMin, .clipboardPlus {
    width: 35px;
}

#btnClipboard {
    float: left;
    width: 20px;
}
